
body {
    color: #ffffff;
    background-color: #121212;
}

.dog-image {
    width: 75%;
    height: 75%;
    
}

.navbar a:hover {
    background-color: skyblue;
    color: black;
}

.navbar a.home {
    background-color: green;
    color: white; 
}
