
body {
    text-align: center;
}

.NavMenu {
    position: absolute;
    top: 0;
}

.dog-images {
    display: grid;
    /* justify-items: center; */
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: unset;
}

.breedQueryForm {
    align-items: center;
    justify-content: center;
}

#breedSelector {
    width: clamp(200px, 50vw, 500px);
}

.random-image-container {
    margin: auto;
    width: 75%;
}