name: Build and Test Frontend

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches-ignore: [ "main" ]

defaults:
    run:
        working-directory: frontend

jobs:
  build_test:

    runs-on: ubuntu-latest
    
    strategy:
        matrix:
            node-version: [16.x]
            
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: Run Build and Test
      env: 
        REACT_APP_API_URL: ${{ secrets.REACT_APP_API_URL }}
      run: |
        npm ci
        npm run build --if-present
        npm test